<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            {% if title %}
            <title>{{title}} - MeowCave</title>
        {% else %}
            <title>MoewCave</title>
        {% endif %}
        <style>
        body{
            background-image: linear-gradient(to left,
            #23c6f9, #488032);
        }
        </style>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
            消息：
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
            <hr>
                </ul>
            {% endif %}
        {% endwith %}
        {% if not current_user.is_anonymous %}
            <p>你好， {{ current_user.nickname }}！</p>
            <a href={{ url_for('user.shown', id=current_user.id) }}>个人主页</a>
            <a href={{ url_for('auth.log_out') }}>登出</a>
        {% else %}
            <a href={{ url_for('auth.login') }}>登录</a>
            不是MeowCave中的一员？那就<a href={{ url_for('auth.register') }}>注册</a>
        {% endif %}
        <br />
        导航：<a href={{ url_for('index') }}>首页</a>
        <a href={{ url_for('hello') }}>Hello Page</a>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
